@model Conexiones.Animales.Models.Regiones

@{
    ViewBag.Title = "Editar Región";
}

<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <i class="fa fa-edit"></i><div class="card-header text-white bg-dark mb-3">Editar Región</div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id)

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Nombre</label>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">País</label>
                            <div class="col-md-6">
                                @Html.DropDownList("idPais", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.idPais, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6 offset-md-4">
                            <input type="submit" value="Guardar" class="btn btn-warning" />
                        </div>
                    }
                </div>
                <div>
                    @Html.ActionLink("Volver", "Index")
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
