@model Conexiones.Animales.Models.MetodoPagos

@{
    ViewBag.Title = "Ingresar Metodo de Pago";
}
<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <i class="fa fa-plus-circle"></i><div class="card-header text-white bg-dark mb-3">Agregar Metodo de pago</div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Forma de Pago</label>

                            <div class="col-md-6">
                                @Html.EditorFor(model => model.formaPago, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.formaPago, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-md-4 col-form-label text-md-right">Descripción</label>

                            <div class="col-md-6">
                                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-4">
                            <input type="submit" value="Guardar" class="btn btn-success" />
                        </div>

                    }

                </div>
                <div>
                    @Html.ActionLink("Volver", "Index")
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
