@model Conexiones.Animales.Models.DetallePedidos

@{
    ViewBag.Title = "Detalles";
}

<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-black-50 bg-light">Detalle del pedido</div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <strong>Precio:</strong>
                        @Html.DisplayFor(model => model.precio)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <strong>Promoción:</strong>
                        @Html.DisplayFor(model => model.promocion)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <strong>Destinatario:</strong>
                        @Html.DisplayFor(model => model.Pedidos.nombreDestinatario)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <strong>Producto:</strong>
                        @Html.DisplayFor(model => model.Productos.nombre)
                    </div>
                </div>
                <div class="col-md-6 offset-md-4">

                    <button type="button" class="btn btn-warning">
                        <i class="fa fa-edit"></i>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.id })
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>










