@model Conexiones.Animales.Models.Productos

@{
    ViewBag.Title = "Detalles";
}

<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-black-50 bg-light">Detalle del Producto</div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <strong>Producto:</strong>
                        @Html.DisplayFor(model => model.nombre)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <strong>País:</strong>
                        @Html.DisplayFor(model => model.descripcion)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <strong>Stock:</strong>
                        @Html.DisplayFor(model => model.stock)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <strong>Precio:</strong>
                        @Html.DisplayFor(model => model.precio)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <strong>Color:</strong>
                        @Html.DisplayFor(model => model.color)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <strong>Tamaño:</strong>
                        @Html.DisplayFor(model => model.tamaño)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <strong>Promoción:</strong>
                        @Html.DisplayFor(model => model.promocion)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <strong>Categoría:</strong>
                        @Html.DisplayFor(model => model.Categorias.nombre)
                    </div>
                </div>
                @{
                    foreach(var img in Model.ImagenesProductos)
                    {
                        <img width="300" src="@img.url" />
                    }
                }

                <div class="col-md-6 offset-md-4">
                    <button type="button" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit"></i>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.id })
                    </button>
                </div>
                @Html.ActionLink("Volver", "Index")
            </div>
        </div>
    </div>
</div>
