
@model IEnumerable<Conexiones.Animales.Models.Productos>

@{
    ViewBag.Title = "Mercancia";
}

<div class="d-flex ml-5 mr-5">
    <table class="table">
        <thead class="thead-dark table-bordered">
            <tr>
                <th>
                    <label>Productos</label>
                </th>
                <th>
                    <label>Descripción</label>
                </th>
                <th>
                    <label>Stock</label>
                </th>
                <th>
                    <label>Precio</label>
                </th>
                <th>
                    <label>Color</label>
                </th>
                <th>
                    <label>Tamaño</label>
                </th>

                <th>
                    <label>Promoción</label>
                </th>
                <th>
                    <label>Categorías</label>
                </th>
                <th>
                    <label>Opciones</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tamaño)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.promocion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categorias.nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Ver", "Details", new { id = item.id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot class="thead-dark">
            <tr>
                <th>
                    <label>Productos</label>
                </th>
                <th>
                    <label>Descripción</label>
                </th>
                <th>
                    <label>Stock</label>
                </th>
                <th>
                    <label>Precio</label>
                </th>
                <th>
                    <label>Color</label>
                </th>
                <th>
                    <label>Tamaño</label>
                </th>
                <th>
                    <label>Promoción</label>
                </th>
                <th>
                    <label>Categorias</label>
                </th>
                <th>
                    <label>Opciones</label>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="d-flex justify-content-end mr-5"><a href="@Url.Action("Create")" class="btn btn-success"><i class="fa fa-plus-circle"></i> Agregar</a></div>