@model IEnumerable<Conexiones.Animales.Models.Pedidos>

@{
    ViewBag.Title = "Compras de Usuario";
}

<div class="d-flex ml-5 mr-5">

    <table class="table">
        <thead class="thead-dark table-bordered">
            <tr>
                <th>
                    <label>Fechas</label>
                </th>
                <th>
                    <label>Fechas de Envío</label>
                </th>
                <th>
                    <label>Destinatario</label>
                </th>
                <th>
                    <label>Direcciones</label>
                </th>
                <th>
                    <label>Descripción</label>
                </th>
                <th>
                    <label>Opciones</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaEnvio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreDestinatario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direcciones.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ventas.descripcion)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Ver", "Details", new { id = item.id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot class="thead-dark">
            <tr>
                <th>
                    <label>Fechas</label>
                </th>
                <th>
                    <label>Fechas de Envío</label>
                </th>
                <th>
                    <label>Destinatarios</label>
                </th>
                <th>
                    <label>Direcciones</label>
                </th>
                <th>
                    <label>Descripciones</label>
                </th>
                <th>
                    <label>Opciones</label>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="d-flex justify-content-end mr-5"><a href="@Url.Action("Create")" class="btn btn-success"><i class="fa fa-plus-circle"></i> Agregar</a></div>