@model Conexiones.Animales.Models.Usuarios

@{
    ViewBag.Title = "Detalle de Usuario";
}

<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-black-50 bg-light">Detalle del Usuario</div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <strong>Usuario:</strong>
                        @Html.DisplayFor(model => model.nombre)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <strong>Email:</strong>
                        @Html.DisplayFor(model => model.email)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <strong>Activo:</strong>
                        @Html.DisplayFor(model => model.activo)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <strong>Clave:</strong>
                        @Html.DisplayFor(model => model.clave)
                    </div>
                </div>
                <div class="col-md-6 offset-md-4">
                    <button type="button" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit"></i>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.id })
                    </button>
                </div>

                @Html.ActionLink("Volver", "Index")
            </div>
        </div>
    </div>
</div>